* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  @font-face {
    font-family: Yanone Kaffeesatz;
    src: url("../fonts/YanoneKaffeesatz-Regular.eot");
    src: local("Yanone Kaffeesatz"), url("../fonts/YanoneKaffeesatz-Regular.ttf");
  }
  
  html {
    height: 100%;
  }
  
  body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background: url(../images/back.png) repeat-x;
    color: #4e4e4e;
  }
  
  #footer {
    clear: both;
    text-align: center;
    color: #fff;
    padding: 30px;
    line-height: 30px;
    background-color: #53c7fd;
    border-radius: 0px 0px 10px 10px;
  }
  
  #footer a {
    color: #fff;
  }
  
  a {
    color: #00aeff;
    text-decoration: underline;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  p {
    line-height: 20px;
    padding-bottom: 20px;
  }
  
  #outer {
    width: 1020px;
    position: relative;
    overflow: overlay;
    margin: 0 auto;
    font-size: 16px;
    background: #fff;
    border: initial;
    border-radius: 25px 25px 25px 25px;
  }
  
  #header {
    max-width: 100%;
    height: 170px;
  }
  
  #header #splash {
    width: 100%;
    max-width: 100%;
    height: 170px;
  }
  
  #principalcontent {
    width: 100%;
    padding: 30px 20px;
    background-color: #fff;
  }
  
  #primarycontent {
    width: 100%;
    float: left;
    margin-bottom: 30px;
  }
  
  #primarycontent p {
    width: 100%;
    float: left;
    line-height: 30px;
  }
  
  #primarycontent h1 {
    font-size: 30px;
    color: #e5017d;
    margin-bottom: 20px;
    letter-spacing: -1px;
  }
  
  #table th, td {
    border: 0px;
    text-align: center;
    width: 100%;
    padding: 10px 10px;
    background-color: rgb(159, 220, 248);
  }
  
  th {
    background-color: #e5017d;
    padding: 10px;
    color: #fff;
  }
  
  table tr:nth-child(odd) td {
    background-color: #f3f3f3;
  }
  
  @media only screen and (max-width: 920px) {
    /* For mobile phones: */
    #outer {
      width: 100%;
    }
  }
  @media only screen and (max-width: 920px) {
    /* For mobile phones: */
    #menu {
      text-align: center;
      width: 95%;
    }
  }
  
  @media only screen and (max-width: 920px) {
    /* For mobile phones: */
    #primarycontent {
      width: 90%;
      margin-top: 10px;
    }
  }
  @media only screen and (max-width: 920px) {
    /* For mobile phones: */
    #secondarycontent {
      width: 50%;
      margin-top: 10px;
      text-align: center;
    }
  }
  
  @media only screen and (max-width: 920px) {
    /* For mobile phones: */
    #tercero {
      width: 50%;
      margin-top: 10px;
      text-align: center;
    }
  }
  
  @media only screen and (max-width: 920px) {
    /* For mobile phones: */
    #cuarto {
      width: 50%;
      margin-top: 10px;
      margin-bottom: 10px;
      text-align: center;
    }
  }
  
  @media only screen and (max-width: 920px) {
    /* For mobile phones: */
    #header #splash {
      width: 100%;
      display: flex;
    }
  }
  
  @media only screen and (max-width: 920px) {
    /* For mobile phones: */
    #secondarycontent {
      width: 100%;
      display: left;
      text-align: center;
    }
    #secondarycontent .content {
      text-align: left;
    }
  }
  
  @media only screen and (max-width: 920px) {
    /* For mobile phones: */
    #tercero {
      width: 100%;
      display: left;
      text-align: center;
    }
    #tercero .content {
      text-align: left;
    }
  }
  
  @media only screen and (max-width: 920px) {
    /* For mobile phones: */
    #cuarto {
      width: 100%;
      display: left;
      text-align: center;
    }
    #cuarto .content {
      text-align: left;
    }
  }
  
  @media only screen and (max-width: 920px) {
    /* For mobile phones: */
    primarycontent {
      width: 100%;
      margin: 0;
    }
  }
  
  @media only screen and (max-width: 920px) {
    .footer {
      width: 20%;
      height: 20px;
    }
  }
  
  @media only screen and (max-width: 920px) {
    /* For mobile phones: */
    tabla {
      width: 100%;
      margin: 0;
    }
  }
  