* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: Yanone Kaffeesatz;
  src: url("../fonts/YanoneKaffeesatz-Regular.eot");
  src: local("Yanone Kaffeesatz"), url("../fonts/YanoneKaffeesatz-Regular.ttf");
}

html {
  height: 100%;
}

article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

body {
  font-size: 16px;
  font: normal 0.8em arial, sans-serif;
  background: #c4e9e8 url(../images/back.png) repeat-x;
  color: #555;
}

#outer {
  background: transparent url(../images/grass.png) repeat-x bottom;
}
