* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: Yanone Kaffeesatz;
  src: url("../fonts/YanoneKaffeesatz-Regular.eot");
  src: local("Yanone Kaffeesatz"), url("../fonts/YanoneKaffeesatz-Regular.ttf");
}

html {
  height: 100%;
}

article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  background: #c4e9e8 url(../images/back.png) repeat-x;
  color: #4e4e4e;
}

a {
  color: #00aeff;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

p {
  line-height: 20px;
  padding-bottom: 20px;
}

#outer {
  width: 920px;
  height: 920px;
  position: relative;
  overflow: overlay;
  margin: 0 auto;
  font-size: 16px;
  background: #fff;
  border: initial;
}

footer {
  background: transparent url(../images/grass.png) repeat-x bottom;
}

#header {
  max-width: 100%;
  height: 170px;
}

#header #splash {
  float: left;
  width: 100%;
  max-width: 100%;
  height: 170px;
}

#content {
  padding: 25px 30px;
  width: 100%;
}

#primarycontent {
  width: 50%;
  float: left;
}

#content1 {
  width: 25%;
  float: right;
  background-color: #f5feff;
  border-radius: 10px;
  border: solid 1px #c9e5e9;
  padding: 20px 10px;
  margin-top: 20px;
  margin-right: 5px;
}

#content2 {
  width: 25%;
  float: right;
  background-color: #f5feff;
  border-radius: 10px;
  border: solid 1px #c9e5e9;
  padding: 20px 10px;
  margin-top: 20px;
  margin-right: 5px;
}

#content3 {
  width: 25%;
  float: right;
  background-color: #f5feff;
  border-radius: 10px;
  border: solid 1px #c9e5e9;
  padding: 20px 10px;
  margin-top: 20px;
  margin-right: 5px;
}

#primarycontent h1 {
  font-size: 30px;
  color: #e5017d;
  letter-spacing: -1px;
}

#secondarycontent h2 {
  font-size: 20px;
  color: #65ca11;
  letter-spacing: -1px;
}

#secondarycontent p {
  line-height: 20px;
  padding-right: 20px;
  padding-bottom: 0px;
}
