* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: Yanone Kaffeesatz;
  src: url("../fonts/YanoneKaffeesatz-Regular.eot");
  src: local("Yanone Kaffeesatz"), url("../fonts/YanoneKaffeesatz-Regular.ttf");
}

html {
  height: 100%;
}

article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

body {
  font: normal 0.8em arial, sans-serif;
  background: #c4e9e8 url(../images/back.png) repeat-x;
  color: #555;
}

a {
  color: #126179;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

p {
  margin-bottom: 14px;
  text-align: justify;
}

#outer {
  width: 920px;
  height: 920px;
  position: relative;
  overflow: overlay;
  margin: 0 auto;
  font-size: 16px;
  background: #fff;
  border: initial;
  margin-top: 10px;
}

footer {
  background: transparent url(../images/grass.png) repeat-x bottom;
}

#header {
  max-width: 100%;
  height: 170px;
}

#header #splash {
  float: left;
  width: 100%;
  max-width: 100%;
  height: 170px;
}

#pricipalcontent {
  padding-left: 30px;
  width: 100%;
  background-color: white;
}

#primarycontent {
  width: 70%;
  float: left;
  margin-right: 30px;
}

#secondarycontent {
  float: right;
  width: 26%;
  background-color: #f5feff;
  border-radius: 10px;
  border: solid 1px #c9e5e9;
}

#secondarycontent h2 {
  font-size: 20px;
  line-height: 35px;
  color: #65ca11;
  letter-spacing: -1px;
}

#secondarycontent .content1 {
  padding: 10px 5px;
}

#secondarycontent .content2 {
  padding: 10px 5px;
}

#secondarycontent .content3 {
  padding: 10px 5px;
}
