* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Yanone Kaffeesatz;
  src: url("../fonts/YanoneKaffeesatz-Regular.eot");
  src: local("Yanone Kaffeesatz"), url("../fonts/YanoneKaffeesatz-Regular.ttf");
}

html {
  height: 100%;
}

body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  background: #c4e9e8 url(../images/back.png) repeat-x;
  color: #4e4e4e;
}

footer {
  background: #c4e9e8 url(../images/grass.png) repeat-x bottom;
}

a {
  color: #00aeff;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

p {
  line-height: 20px;
  padding-bottom: 20px;
}

#outer {
  width: 920px;
  height: 920px;
  position: relative;
  overflow: overlay;
  margin: 0 auto;
  font-size: 16px;
  background: #fff;
  border: initial;
}

#header {
  max-width: 100%;
  height: 170px;
}

#header #splash {
  float: left;
  width: 100%;
  max-width: 100%;
  height: 170px;
}

#content {
  width: 100%;
  margin: 30px 20px;
  background-color: #fff;
}

#primarycontent {
  width: 75%;
  float: left;
}

#primarycontent p {
  width: 75%;
  float: left;
  line-height: 30px;
}

#primarycontent ol {
  width: 75%;
  float: left;
  margin-left: 25px;
  line-height: 25px;
}

#content1 {
  width: 25%;
  float: right;
  background-color: #f5feff;
  border-radius: 10px;
  border: solid 1px #c9e5e9;
  padding: 20px 10px;
  margin-top: 20px;
  margin-right: 5px;
}

#content2 {
  width: 25%;
  float: right;
  background-color: #f5feff;
  border-radius: 10px;
  border: solid 1px #c9e5e9;
  padding: 20px 10px;
  margin-top: 20px;
  margin-right: 5px;
}

#content3 {
  width: 25%;
  float: right;
  background-color: #f5feff;
  border-radius: 10px;
  border: solid 1px #c9e5e9;
  padding: 20px 10px;
  margin-top: 20px;
  margin-right: 5px;
}

#primarycontent h1 {
  font-size: 30px;
  color: #e5017d;
  margin-bottom: 20px;
  letter-spacing: -1px;
}

#secondarycontent h2 {
  font-size: 20px;
  color: #65ca11;
  letter-spacing: -1px;
}

#secondarycontent p {
  line-height: 20px;
  padding-right: 15px;
  padding-bottom: 0px;
}

img.picA {
  position: relative;
  top: -2px;
  width: 104px;
  height: 84px;
}

img.floatleft {
  float: right;
  margin: 10px;
  width: 150px;
  height: auto;
  padding: 5px;
  border: 1px solid #b0d9e6;
}
