* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#menu {
  border-radius: 10px 10px 0 0;
  display: flex;
  overflow: hidden;
  height: auto;
  font-size: 16px;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 15px;
  background-color: #53c7fd;
}

#container .links {
  position: relative;
  float: left;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .sub-btn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #fff;
  padding: 14px 16px;
  background-color: #53c7fd;
}

#container .links:hover,
.subnav:hover .sub-btn {
  color: #e5017d;
  font-weight: bolder;
}

.sub-content {
  display: none;
  background-color: #53c7fd;
  z-index: 1;
}

.subnav:hover .sub-content {
  display: block;
  position: absolute;
}

@media screen and (max-width: 700px) {
  #container,
  #container .principal {
    width: 100%;
    border-right: 0px;
  }
}
